In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

! pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\ngura\anaconda3\lib\site-packages (0.21.0)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\ngura\anaconda3\lib\site-packages (from mlxtend) (1.0.2)
Requirement already satisfied: numpy>=1.16.2 in c:\users\ngura\anaconda3\lib\site-packages (from mlxtend) (1.21.5)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\ngura\anaconda3\lib\site-packages (from mlxtend) (3.5.1)
Requirement already satisfied: setuptools in c:\users\ngura\anaconda3\lib\site-packages (from mlxtend) (61.2.0)
Requirement already satisfied: pandas>=0.24.2 in c:\users\ngura\anaconda3\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\ngura\anaconda3\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: scipy>=1.2.1 in c:\users\ngura\anaconda3\lib\site-packages (from mlxtend) (1.7.3)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\ngura\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: cycler>=0.10 in c:\users\ngura\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\ngura\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.0.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\ngura\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ngura\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\ngura\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.2)
Requirement already satisfied: packaging>=20.0 in c:\users\ngura\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\ngura\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\ngura\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\ngura\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)

In [2]:
from mlxtend.frequent_patterns import apriori, association_rules

# Association Rule for Store Dataset

In this case study, we will explore how association rule can be used to analyze the items that are usualy purcased together.

## Load Data

We will use the dataset of the transaction in a certain store. You can get the dataset here: 
https://gist.githubusercontent.com/Harsh-Git-Hub/2979ec48043928ad9033d8469928e751/raw/72de943e040b8bd0d087624b154d41b2ba9d9b60/retail_dataset.csv

In [3]:
# load the data set ans show the first five transaction
df = pd.read_csv('https://gist.githubusercontent.com/Harsh-Git-Hub/2979ec48043928ad9033d8469928e751/raw/72de943e040b8bd0d087624b154d41b2ba9d9b60/retail_dataset.csv')
df

          0       1       2       3       4       5       6
0     Bread    Wine    Eggs    Meat  Cheese  Pencil  Diaper
1     Bread  Cheese    Meat  Diaper    Wine    Milk  Pencil
2    Cheese    Meat    Eggs    Milk    Wine     NaN     NaN
3    Cheese    Meat    Eggs    Milk    Wine     NaN     NaN
4      Meat  Pencil    Wine     NaN     NaN     NaN     NaN
..      ...     ...     ...     ...     ...     ...     ...
310   Bread    Eggs  Cheese     NaN     NaN     NaN     NaN
311    Meat    Milk  Pencil     NaN     NaN     NaN     NaN
312   Bread  Cheese    Eggs    Meat  Pencil  Diaper    Wine
313    Meat  Cheese     NaN     NaN     NaN     NaN     NaN
314    Eggs    Wine   Bagel   Bread    Meat     NaN     NaN

[315 rows x 7 columns]

# Get the set of product that has been purchased

In [4]:
df.isna().sum()

0      0
1     30
2     70
3    128
4    182
5    244
6    274
dtype: int64

## Preprocess Data

In this step, we will transform our dataset so that we will have a one hot encoding based on the purchased products.

In [5]:
#create an itemset based on the products
df = pd.get_dummies(df, columns = ['0', '1','2','3','4','5','6'])
print(df)
# encoding the feature

     0_Bagel  0_Bread  0_Cheese  0_Diaper  0_Eggs  0_Meat  0_Milk  0_Pencil  \
0          0        1         0         0       0       0       0         0
1          0        1         0         0       0       0       0         0
2          0        0         1         0       0       0       0         0
3          0        0         1         0       0       0       0         0
4          0        0         0         0       0       1       0         0
..       ...      ...       ...       ...     ...     ...     ...       ...
310        0        1         0         0       0       0       0         0
311        0        0         0         0       0       1       0         0
312        0        1         0         0       0       0       0         0
313        0        0         0         0       0       1       0         0
314        0        0         0         0       1       0       0         0

     0_Wine  1_Bagel  ...  5_Wine  6_Bagel  6_Bread  6_Cheese  6_Diaper  \
0         0        0  ...       0        0        0         0         1
1         0        0  ...       0        0        0         0         0
2         0        0  ...       0        0        0         0         0
3         0        0  ...       0        0        0         0         0
4         0        0  ...       0        0        0         0         0
..      ...      ...  ...     ...      ...      ...       ...       ...
310       0        0  ...       0        0        0         0         0
311       0        0  ...       0        0        0         0         0
312       0        0  ...       0        0        0         0         0
313       0        0  ...       0        0        0         0         0
314       0        0  ...       0        0        0         0         0

     6_Eggs  6_Meat  6_Milk  6_Pencil  6_Wine
0         0       0       0         0       0
1         0       0       0         1       0
2         0       0       0         0       0
3         0       0       0         0       0
4         0       0       0         0       0
..      ...     ...     ...       ...     ...
310       0       0       0         0       0
311       0       0       0         0       0
312       0       0       0         0       1
313       0       0       0         0       0
314       0       0       0         0       0

[315 rows x 63 columns]

In [6]:
df.iloc[:,0:5]

     0_Bagel  0_Bread  0_Cheese  0_Diaper  0_Eggs
0          0        1         0         0       0
1          0        1         0         0       0
2          0        0         1         0       0
3          0        0         1         0       0
4          0        0         0         0       0
..       ...      ...       ...       ...     ...
310        0        1         0         0       0
311        0        0         0         0       0
312        0        1         0         0       0
313        0        0         0         0       0
314        0        0         0         0       1

[315 rows x 5 columns]

In [7]:
df.sum().sort_values()

5_Bread      1
6_Bagel      1
6_Meat       2
6_Eggs       2
5_Wine       3
            ..
1_Meat      47
1_Bagel     47
2_Eggs      52
0_Cheese    56
0_Bread     74
Length: 63, dtype: int64

In [8]:
  # create new dataframe from the encoded features

  # show the new dataframe

Since, the encoded dataframe consist of the empty column. We will drop the NaN column or select all columns other than the first column.

## Apriori Algorithm

We will use appriori algorithm to determine the frequently purchased products. 
For this case study, we will min_support=0.2

In [9]:
# Building the model
frq_items = apriori(df, min_support = 0.02, use_colnames = True)

C:\Users\ngura\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

The we will generate association rule of the frequent itemset based on confidence level with the threshold=0.6

In [10]:
# Collecting the inferred rules in a dataframe
rules = association_rules(frq_items, metric ="lift", min_threshold = 0.6)
print(rules)

    antecedents                         consequents  antecedent support  \
0     (1_Bagel)                           (0_Bread)            0.149206
1     (0_Bread)                           (1_Bagel)            0.234921
2     (0_Bread)                          (1_Cheese)            0.234921
3    (1_Cheese)                           (0_Bread)            0.111111
4    (1_Diaper)                           (0_Bread)            0.095238
..          ...                                 ...                 ...
237    (3_Milk)  (4_Wine, 0_Cheese, 2_Eggs, 1_Meat)            0.142857
238  (0_Cheese)    (3_Milk, 4_Wine, 2_Eggs, 1_Meat)            0.177778
239    (4_Wine)  (3_Milk, 0_Cheese, 2_Eggs, 1_Meat)            0.114286
240    (2_Eggs)  (3_Milk, 0_Cheese, 1_Meat, 4_Wine)            0.165079
241    (1_Meat)  (3_Milk, 0_Cheese, 2_Eggs, 4_Wine)            0.149206

     consequent support   support  confidence      lift  leverage  conviction
0              0.234921  0.095238    0.638298  2.717079  0.060186    2.115219
1              0.149206  0.095238    0.405405  2.717079  0.060186    1.430880
2              0.111111  0.025397    0.108108  0.972973 -0.000705    0.996633
3              0.234921  0.025397    0.228571  0.972973 -0.000705    0.991770
4              0.234921  0.028571    0.300000  1.277027  0.006198    1.092971
..                  ...       ...         ...       ...       ...         ...
237            0.038095  0.038095    0.266667  7.000000  0.032653    1.311688
238            0.038095  0.038095    0.214286  5.625000  0.031323    1.224242
239            0.098413  0.038095    0.333333  3.387097  0.026848    1.352381
240            0.038095  0.038095    0.230769  6.057692  0.031807    1.250476
241            0.038095  0.038095    0.255319  6.702128  0.032411    1.291701

[242 rows x 9 columns]

In [13]:
rules[(rules['lift'] >= 3) & (rules['confidence'] >= 0.3)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
8,(2_Milk),(0_Bread),0.142857,0.234921,0.104762,0.733333,3.121622,0.071202,2.869048
9,(0_Bread),(2_Milk),0.234921,0.142857,0.104762,0.445946,3.121622,0.071202,1.547038
18,(0_Cheese),(1_Meat),0.177778,0.149206,0.098413,0.553571,3.710106,0.071887,1.905778
19,(1_Meat),(0_Cheese),0.149206,0.177778,0.098413,0.659574,3.710106,0.071887,2.415278
20,(0_Cheese),(2_Eggs),0.177778,0.165079,0.101587,0.571429,3.461538,0.072240,1.948148
...,...,...,...,...,...,...,...,...,...
233,"(0_Cheese, 1_Meat)","(3_Milk, 4_Wine, 2_Eggs)",0.098413,0.038095,0.038095,0.387097,10.161290,0.034346,1.569424
234,"(4_Wine, 2_Eggs)","(3_Milk, 0_Cheese, 1_Meat)",0.047619,0.098413,0.038095,0.800000,8.129032,0.033409,4.507937
235,"(4_Wine, 1_Meat)","(3_Milk, 0_Cheese, 2_Eggs)",0.053968,0.101587,0.038095,0.705882,6.948529,0.032613,3.054603
236,"(2_Eggs, 1_Meat)","(3_Milk, 0_Cheese, 4_Wine)",0.098413,0.038095,0.038095,0.387097,10.161290,0.034346,1.569424
239,(4_Wine),"(3_Milk, 0_Cheese, 2_Eggs, 1_Meat)",0.114286,0.098413,0.038095,0.333333,3.387097,0.026848,1.352381